@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .input-underline {
    @apply w-full bg-transparent text-white
           placeholder-white/60
           border-b border-white/80
           py-3
           focus:outline-none focus:border-orange-500
           transition;
  }
}

.btn-secondary {
  @apply w-full py-3 rounded-full border border-orange-500
         text-orange-400 hover:bg-orange-500 hover:text-black transition;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
